<!DOCTYPE HTML>
<html lang="pl">
    <head>
        <title>{$page_title|default:"Tytuł domyślny"}</title>
		<meta charset="utf-8" />
		<meta name="description" content="{$page_description|default:'Opis domyślny'}" />
		<link rel="stylesheet" href="{$app_url}/assets/css/main.css" />
        <link rel="stylesheet" href="{$app_url}/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="{$app_url}/assets/css/noscript.css" /></noscript>
    </head>
    <body >

        <div id="wrapper">

            <header id="header" class="alt">
                <a href="{$app_url}/index.php" class="logo"><strong>{$first_part_of_title|default:"Tytuł"}</strong> <span>{$second_part_of_title|default:"domyślny"}</span></a>
            </header>

            <section id="banner" class="major">
                {block name=banner} miejsce na banner {/block}
            </section>

            <section id="contact">
                {block name=content} miejsce na formularz {/block}
            </section>

            <footer id="footer">
                <div class="inner">
                    <ul class="copyright">
                        <li>Widok oparty na stylach: <a href="https://html5up.net">HTML5 UP</a></li>
                        <li>Autor przykładu - Kacper Mularczyk</li>
                    </ul>
                </div>
            </footer>

            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/browser.min.js"></script>
            <script src="assets/js/breakpoints.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>

        </div>

    </body>
</html>